@import "tailwindcss";
@import "@vidstack/react/player/styles/base.css";

@theme {
    --color-semibackground: rgb(26, 26, 31);
    --color-basecolor: rgb(12, 12, 18);
    --color-defaultbordercolor: rgb(60, 60, 60);

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    --animate-marquee: marquee 10s linear infinite;
}



:root {
    font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(12, 12, 18);
    background-image: url("../public/spacebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


