@import "tailwindcss";
@import "@vidstack/react/player/styles/base.css";

@theme {
    --color-semibackground: rgb(26, 26, 31);
    --color-basecolor: rgb(22, 22, 26);
    --color-defaultbordercolor: rgb(60, 60, 60);
}

:root {
    font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(22, 22, 26);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
